* {
    box-sizing: border-box;
}
body {
    font-family: 'montserrat', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #515076;
}
.catalog {
    background-image: url("./img/background1.png");
    background-repeat: no-repeat;
    background-size: 790px 697px;
    max-width: 1110px;
    margin: 0 auto;
}
.title {
    font-size: 70px;
    line-height: 78px;
    margin: 0;
    font-weight: 400;
    text-align: center;
    padding-top: 220px;
    margin-bottom: 110px;
}
.product-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    gap: 45px;
    justify-content: center;
}
.card {
    background: #F7F7FA;
    width: 340px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.skin-type {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #A5A3B9;
    margin-top: 24px;
    display: block; /* превратил спан в блочный элемент для margin */
}
.card-name {
    line-height: 27px;
    font-size: 20px;
}
.components {
    margin-top: 5px;
    padding-left: 13px;
}
.price-space {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 20px;
}